---
- name: Deploy the Tooling Website application
  hosts: webservers
  become: yes
  become_user: ansible_deployer

  tasks:

    # 1. Clone the application repository
    - name: Clone the tooling website repository to temporary location
      ansible.builtin.git:
        repo: https://github.com/dimani001/tooling.git
        dest: /home/ansible_deployer/tooling_clone
        update: yes
        force: yes
        version: master
      register: git_clone_status

    # 2. Copy files and fix SELinux contexts, ownership, etc.
    - name: Finalize deployment using shell commands (bypassing persistent SELinux issues)
      become: yes    # run as root
      ansible.builtin.shell: |
        # Clean existing web root content
        rm -rf /var/www/html/*

        # Copy new version from cloned repo
        cp -a /home/ansible_deployer/tooling_clone/. /var/www/html/

        # Set ownership to Apache
        chown -R apache:apache /var/www/html

        # Restore SELinux context
        restorecon -Rv /var/www/html

    # 3. Restart Apache only if repository changed
    - name: Restart httpd service if files changed
      become: yes
      ansible.builtin.service:
        name: httpd
        state: restarted
      when: git_clone_status.changed

