---
- name: Deploy the Tooling Website application
  hosts: webservers
  become: yes
  become_user: ansible_deployer # Execute tasks as the dedicated deployment user
  tasks:
# --- NEW TASK: DISABLE SELINUX ENFORCING MODE ---
    - name: Temporarily set SELinux to permissive mode for deployment
      become: yes
      ansible.posix.selinux:
        policy: targeted
        state: permissive

    # --- NEW TASK: ENSURE DEPLOYER OWNS WEB ROOT ---
    - name: Ensure /var/www/html is owned by ansible_deployer
      become: yes # Temporarily escalate privileges back to root to change ownership
      ansible.builtin.file:
        path: /var/www/html
        owner: ansible_deployer
        group: apache
        state: directory
        mode: '0775'

    # Use the git module to clone the repository
    - name: Clone the tooling website repository
      ansible.builtin.git:
        repo: https://github.com/dimani001/tooling.git # <<< IMPORTANT: CHANGE THIS TO YOUR TOOLING WEBSITE REPOSITORY
        dest: /var/www/html
        update: yes
        force: yes
        version: main # Use the main branch
      register: git_clone_status

    # If the web app was cloned or updated, ensure file permissions are correct
    - name: Set correct ownership and permissions for web root
      ansible.builtin.file:
        path: /var/www/html
        owner: apache
        group: apache
        mode: '0775'
        recurse: yes
      when: git_clone_status.changed

    # Restart httpd service only if files were changed/updated
    - name: Restart httpd service if files changed
      ansible.builtin.service:
        name: httpd
        state: restarted
      when: git_clone_status.changed
